.frame {
      
    position: absolute;
    max-height: 80vh;
    width: auto;
    transform-origin: center;
    pointer-events: none;
    //filter: drop-shadow(1px 2px 5px rgba(0,0,0,.1));

    @media screen and (max-width: 500px) {
      max-height: 95vw;
    } 

    .page.chrome & {
      box-shadow: none;
      filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.35));
    }

}

.frame_shadow {
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.35);
    //filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.35));
    transform: scale(0.97);

    .page.chrome & {
      box-shadow: none;
      filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.35));
    }
}



.frame_shadow[src*=_black] {
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
  //filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.5));
  transform: scale(0.97);

  .page.chrome & {
    box-shadow: none;
    filter: drop-shadow(2px 2px 50px rgba(0, 0, 0, 0.35));
  }  


}

.container_hor.container_size-s .frame {
  transform: rotate(90deg) scale(1,-1);
}

.container_hor.container_size-s .painting {
  transform: scale(0.39);
}

.container_ver.container_size-l .painting {
  transform: scale(0.55);
}

.container_ver.container_size-m .painting {
  transform: scale(0.54);
}

.container_hor.container_size-m .frame {
  transform: rotate(90deg) scale(1,-1);
}

.container_hor.container_size-m .painting {
  transform: scale(0.4);
}

.container_hor.container_size-l .frame {
  transform: rotate(90deg) scale(1,-1);
}

.container_hor.container_size-l .painting {
  transform: scale(0.4);
}

.container_hor .frame.frame_shadow {
  transform: rotate(90deg) scale(0.97)!important;
}

.painting {
  height: 80vh;
  width: auto;
  transform: scale(0.57);
  transform-origin: center;
  pointer-events: none;
  filter: saturate(1.2) brightness(1.1);
  image-rendering: optimizeQuality;
  position: absolute;

  @media screen and (max-width: 500px) {
    height: 95vw;

  }

}

